<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>30 ans Nini</title>
  <link rel="stylesheet" href="/css/style.css">


</head>

<body>
  <header>
    <h1>
      <a href="/">30 ans Nini</a>
    </h1>
  </header>