/** reset **/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* True Styling */

header {
  background: rgb(88, 87, 87) center / cover no-repeat url(../images/nini.jpg) ;
  display: flex;
  flex-direction: column;
  height: 400px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header h1 {
  margin: 0;
  font-size: 5rem;
  padding: 10px;
  text-align: center;
  color: white!important;
  background: rgba(219, 216, 216, 0.8);
  text-shadow: 0px 0px 10px rgba(85, 84, 84, 0.2), 0px 0px 10px rgba(71, 71, 70, 0.2), 0px 0px 10px rgba(99, 98, 96, 0.2);
}

header nav{
  flex-direction: column;
}

header nav ul {
  background: rgba(255,255,255,0.8);
  color: gb(243, 205, 18);
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 50px;
}

header nav ul li {
  text-align:center;
  padding: 15px;
  transition: all ease .5s;
  font-size: 1rem;
}

header nav ul li:hover {
  font-size: 1.2rem;
  text-shadow: 0px 10px 4px rgba(0,0,0,0.5);
}

h3 {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  color: white!important;
  background: rgba(219, 216, 216, 0.8);
  text-shadow: 0px 0px 10px rgba(85, 84, 84, 0.2), 0px 0px 10px rgba(71, 71, 70, 0.2), 0px 0px 10px rgba(99, 98, 96, 0.2);
  margin-bottom: 0.5em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
};

iframe {
  position:relative;
}

.texte_victoire {
width: 30em;
flex-direction: column;
display: flex;
margin-bottom: 1em;
font-size: 1.5em;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.video_div {
 display: flex;
margin: 20px;
justify-content: space-around;
}

.error-message{
  color:rgb(161, 14, 14);
  width: 100vw;
  text-align: center;
}

.dead-link{
  display: block;
  width: 25vw;
  height: auto;
  margin: 5vh auto;
}

.content{
  text-align: center;
}

form{
  width: 15vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
input {
  border-radius: 15px;
  border: 2px solid rgb(216, 98, 55);
  box-shadow: 6px 6px 2px 1px rgba(255, 94, 0, 0.2);
  padding: 0.5em;
}