@use './../../styles/vars';

.main__window {
    border: 2px solid rgb(221, 223, 221);
    background-color: white;
    margin: 3rem 3rem 5rem 0;
    max-width: 600px;
    height: 400px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    overflow-y: auto;

    h1 {
        display: flex;
        justify-content: space-between;
        background-color: vars.$menu;
        padding: 0.2rem;
        border: 2px solid vars.$secondary;
        text-align: left;
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
    }

    span {
        color:rgb(0, 0, 0);
        background-color: #C0C0C0;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 2px solid #404040;
        border-right: 2px solid #404040;
        margin: 2px 1px 2px 4px;
        padding: 0 4px;
    }

    &-text {
        background-color: white;
        color: rgb(26, 25, 25);
        font-size: 0.9rem;
        margin: 1.5rem;
    }
}

.technologies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    font-size: 1rem;
    max-width: 800px;
}
.technos__li {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logos {
    max-width: 25px;
    max-height: 25px;
}


@media screen and (max-width: 800px) {

    .main__window {
        margin: 1rem auto;
        padding: 0;
        height: 400px;
  }
}