<%- include('../partials/header') %>
<audio controls preload="auto" autoplay>
    <source src="/public/sons/applaudissements_courts.mp3" type="audio/mpeg">
</audio>
<div class="content">
    <h3>Félicitations !</h3>
    <div class="video_div">
        <p class="texte_victoire">BRAVOOOOOOOOOOO !
        Quelle performance !
        Grâce à ce magnifique travail d'équipe, vous avez réussi à terminer toutes les épreuves. 
    La récompense sera déjà de pouvoir continuer cette soirée, sinon tout aurait été annulé. 
Mais surtout, vous allez pouvoir visualiser une magnifique vidéo ! BON VISIONNAGE</p>        
        <div class="video_div--miniature"><iframe width="560" height="315" src="https://www.youtube.com/embed/JfrSpF28TEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
</div>